body {
  background-color: #080809;
  color: #EBEBEF;
  margin: 0;
}


.MuiButtonBase-root:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}


nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}