body {
  background-color: #080809;
  color: #EBEBEF;
  margin: 0;
  min-height: 100vh;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

* {
  scrollbar-color:#dadce0 transparent
}

::-webkit-scrollbar,::-webkit-scrollbar-corner {
  background: transparent;
  height: 12px;
  width: 12px
}

::-webkit-scrollbar-thumb {
  background: content-box currentColor;
  border: 2px solid transparent;
  border-radius: 8px;
  color: #dadce0;
  min-height: 48px;
  min-width: 48px
}

:hover::-webkit-scrollbar-thumb {
  color: #80868b
}

::-webkit-scrollbar-thumb:active {
  color: #5f6368
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0
}