{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if exist %}
        <h3 style="color: red;">Title already existed</h3>
    {% endif %}

    <form action="{% url "newpage" %}" method="POST">

        {% csrf_token %}

        <div style="margin: 20px;">
            <label for="id_title">
                {{ form.title.label }}:
            </label>
            {{ form.title }}
        </div>
        <div style="margin: 20px;">
            <label for="id_body" style="display: block;">
                {{ form.body.label }}:
            </label> 
            {{ form.body }}
        </div>
        <input type="submit" value="Save Entry">
    </form>
{% endblock %}