{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="header"></div>
    <div id="main"></div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
    <div>scam</div>
{% endblock %}

{% block script %}
    <script type="text/jsx" src="{% static "network/App.js" %}"></script>
    <script src="{% static "network/main.js" %}"></script>
{% endblock %}