.newConvContainer {
    border-bottom: 1px solid #757171;
    margin-bottom: 1rem;
}

.newConvBtn {
    color: inherit;
    margin: 0 0 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.loadingContainer span {
    display: table;
    margin: 0 auto;
}

.titleContainer button {
    justify-content: start;
    text-align: start;
}

.titleContainer .selected {
    background-color: #ebebeb;
    color: #646060;
}