{% extends "auctions/layout.html" %}
{% load static %}


{% block title %}
    Auction
{% endblock %}


{% block body %}
    <div class="header">
        <h2>
            Auction: {{ auction.title }} ||
            {% if auction.status %}
            <div style="color: #59f427; display:contents;">
                Status: OPEN
            </div>
            {% else %}
                <div style="color: #ec8826; display:contents;">
                    Status: CLOSED
                </div>
            {% endif %}
        </h2>
        <button class="btn" id="watch-list-auction" onclick="watchList(this, {{ auction.id }}, 'change')">Watch List</button>
    </div>

    {% if auction.imageURL %}
        <img id="auction-img" src="{{ auction.imageURL }}">
    {% endif %}
    <p style="font-size: 18px; margin-top: .5rem;">{{ auction.description }}</p>
    <h3>Current bid: ${{ auction.price }}</h3>
    <p>You're currently {% if not isHighestBidder %} <strong>not</strong> {% endif %} the highest Bidder</p>
    {% if auction.status %}
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control col-md-3" name="bid" placeholder="Bid" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Place bid</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>The winner of this auction is <strong>{{ auction.highestBidder.username }}</strong></P>
    {% endif %}
    <div style="margin-top: 1rem;">
        <h3>Details</h3>
        <ul>
            <li>
                Owner: <strong>{{ auction.owner.username }}</strong>
            </li>
            <li>
                Category: 
                <strong>{% if auction.category %} {{ auction.category }} {% else %} No Category Listed {% endif %}</strong>
            </li>
        </ul>
    </div>
    <hr>
    <h3>Comment Section</h3>
    <div>
        <form action="comment" method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{ commentBox.auctionList.name }}" value="{{ auction.id }}">
            <label for="{{ commentBox.comment.name }}">{{ commentBox.comment.label }}</label>
            {{ commentBox.comment }}
            <input type="submit" class="btn btn-outline-secondary" value="Add">
        </form>
        {% if commentList %}
        <div id="comment-container">
            {% for comment in commentList %}
                <strong>{{ comment.commenter.username }}</strong>
                <div class="comment">{{ comment.comment }}</div>
                <hr>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if isOwner %}
        {% if auction.status %}
            <hr>
            <h3>For Owner:</h3>
            <p style="display: inline-block; margin-right: .5rem;">Close this Auction?</p>
            <button class="btn btn-danger" onclick="closeList({{ auction.id }})">Close List</button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        watchList(document.querySelector("#watch-list-auction"), {{ auction.id }}, 'check')
    </script>
    <link href="{% static 'auctions/auction.css' %}?verson=1" rel="stylesheet">
{% endblock %}