{% extends "auctions/layout.html" %}


{% block title %}
    Watch List
{% endblock %}


{% block body %}
    <h2>Watch List</h2>
    <ul id="list">
        {% for auction in auctions %}
            <li class="wrapper">
                <a href="{% url "auction" id=auction.id %}">
                    {% if auction.imageURL %}
                        <div class="image-container">
                            <img src="{{ auction.imageURL }}">
                        </div>
                    {% endif %}
                    <div class="content-container">
                        <div>
                            <h2>{{ auction.title }}</h2> 
                        </div>
                        <div>
                            <strong>Price:</strong> ${{ auction.price }}
                        </div>
                        <div>
                            {{ auction.description }}
                        </div>
                        <div style="color: #788;">
                            <span>Created {{ auction.createTime }}</span>
                        </div>
                        <div>
                            <strong>Status: </strong> {% if auction.status %} Open {% else %} Closed {% endif %}
                        </div>
                    </div>
                </a>
                <button class="btn btn-danger watch-list" onclick="watchList(this, {{ auction.id }}, 'change')">Watch List</button>
            </li>
        {% empty %}
        <div style="margin: 1rem;">Empty! Go add an <a href="/">auction</a> to your Watch List</div>
        {% endfor %}
    </ul>
    {% csrf_token %}
{% endblock %}