{% extends "auctions/layout.html" %}


{% block title %}
    Watch List
{% endblock %}


{% block body %}
    <h2>Watch List</h2>
    <ul id="list">
        {% for list in watchingList %}
            <li class="wrapper">
                <a href="{% url "listing" id=list.id %}">
                    {% if list.imageURL %}
                        <div class="image-container">
                            <img src="{{ list.imageURL }}">
                        </div>
                    {% endif %}
                    <div class="content-container">
                        <div>
                            <h2>{{ list.title }}</h2> 
                        </div>
                        <div>
                            <strong>Price:</strong> ${{ list.price }}
                        </div>
                        <div>
                            {{ list.description }}
                        </div>
                        <div style="color: #788;">
                            <span>Created {{ list.createTime }}</span>
                        </div>
                        <div>
                            <strong>Status: </strong> {% if list.status %} Open {% else %} Closed {% endif %}
                        </div>
                    </div>
                </a>
                <button class="btn btn-danger watch-list" onclick="watchList(this, {{ list.id }}, 'change')">Watch List</button>
            </li>
        {% empty %}
        <div style="margin: 1rem;">Empty! Go add a <a href="/">List</a> to your Watch List</div>
        {% endfor %}
    </ul>
    {% csrf_token %}
{% endblock %}