textarea {
    min-height: 400px;
}


.holder {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(192, 192, 248);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.holder:hover {
    box-shadow: 0 0 5px 2px blue;
  }

.holder .sender {
    overflow: hidden;
    margin-right: 1rem;
}

.holder .subject {
    color: inherit;
    grid-column: 2/5;
    margin-right: 1rem;
}

.holder .timestamp {
    text-align: center;
    color:#aaa;
}

.holder.read {
    background-color: #ccc;
}


#info, #content {
    position: relative;
}

#view-subject {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #ccc;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

#view-sender, #view-reciptions, #view-body {
    display: block;
    min-height: 2rem;
}

#timestamp {
    position: absolute;
    right: 1rem;
    color:#aaa;
}

#view-body {
    margin: 1rem 0;
    padding-bottom: 1rem;
    white-space: pre-line;
    border-bottom: 2px solid #ccc;
}


#archive {
    grid-column: 5/5;
    max-height: 2rem;
    font-size: 1rem;
    padding: 0.1rem 0.3rem 0.3rem 0.3rem;
    justify-self: right;
    align-self: center;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(192, 192, 248) !important;
    transition: box-shadow 0.3s ease-in-out;
}

#archive.archived {
    background-color: rgb(125, 125, 246);
    color: aliceblue;
}

#archive:hover, #reply:hover {
    box-shadow: 0 0 5px 2px blue;
}

#reply {
    border-radius: 0.5rem;
    padding: 0.4rem;
    cursor: pointer;
    border: 2px solid rgb(192, 192, 248);
    transition: box-shadow 0.3s ease-in-out;
}
  
#popUp {
    padding: 0.5rem .75rem;
    position: fixed;
    max-width: 40%;
    max-height: 20%;
    word-wrap: break-word;
    overflow-y: auto;
    bottom: 1rem;
    right: 1rem;
    background-color: #888;
    color:aliceblue;
    visibility: hidden;
}

#popUp.error {
    background-color: red;
}

#popUp.success {
    background-color: green;
}

#popUp div {
    position: sticky;
    top:0;
    background-color: inherit;
}

#popUp p {
    margin-bottom: .5rem;
}

.popUp {
    animation-name: popup;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes popup {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    25% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}