textarea {
    min-height: 400px;
}
/* TODO: make animation slowly pop out instead of instantly pop out */
#popUp {
    padding: 0.5rem .75rem;
    position: fixed;
    max-width: 40%;
    max-height: 20%;
    word-wrap: break-word;
    overflow-y: auto;
    bottom: 1rem;
    right: 1rem;
    background-color: #888;
    color:aliceblue;
    opacity: 0;
    visibility: hidden;
}

#popUp.error {
    background-color: red;
}

#popUp.success {
    background-color: green;
}

#popUp div {
    position: sticky;
    top:0;
    background-color: inherit;
}

#popUp p {
    margin-bottom: .5rem;
}

.popUp {
    animation-name: popup;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes popup {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    25% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}