.userMessage {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.markdownContainer {
    background-color: #1e2526;
    border-radius: 1rem;
    padding: 1rem;
}

.markdownContainer:last-child {
    margin-bottom: 2rem;    
}